.login-form {
  height: 70%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "email email"
    "password password"
    "submit register";

  align-items: center;
  justify-items: center;
}

.login-form .email {
  grid-area: email;
}

.login-form .password {
  grid-area: password;
}

.login-form .submit {
  grid-area: submit;
}

.login-form .register {
  grid-area: register;
}

.sign-in .google {
  width: 95%;
}
