.lds-dual-ring {
  --size: 5rem;
  --after-size: calc(var(--size) - 1rem);
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: var(--after-size);
  height: var(--after-size);
  margin: .5rem;
  border-radius: 50%;
  border: .5rem solid var(--color);
  border-color: var(--color) transparent var(--color) transparent;
  animation: lds-dual-ring 2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}