.sign-up {
  --color: rgb(3, 165, 206);
  max-width: 500px;
  height: 350px;
  border: 2px solid var(--color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 1rem 0;
}

.sign-up h2 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #555;
}

.register-form {
  height: 85%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "name name"
    "email email"
    "password password"
    "submit login";

  align-items: center;
  justify-items: center;
}

.register-form .name {
  grid-area: name;
}

.register-form .email {
  grid-area: email;
}

.register-form .password {
  grid-area: password;
}

.register-form .submit {
  grid-area: submit;
}

.register-form .register {
  grid-area: register;
}

.sign-up input,
.sign-up button {
  width: 90%;
  height: 2.5rem;
  outline: var(--color);
  border: 1px solid var(--color);
  border-radius: 0.3rem;
}

.sign-up input {
  padding-left: .5rem;
}

.sign-up button {
  background: var(--color);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.register-form .login {
  color: orange;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
